# ==========================================
# 1. PYTHON VIRTUAL ENVIRONMENT (WAJIB IGNORE)
# ==========================================
venv/
env/
ENV/
lib/
bin/
include/
share/

# ==========================================
# 2. PYTHON CACHE & COMPILED FILES
# ==========================================
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# ==========================================
# 3. ENV & SENSITIF
# ==========================================
.env

# ==========================================
# 4. LARGE MODEL FILES (KARENA UKURAN SANGAT BESAR)
# ==========================================
saved_models/
*.bin
*.pt
*.pth
*.safetensors
*.onnx

# ==========================================
# 5. JUPYTER NOTEBOOK & EXPERIMENTS
# ==========================================
.ipynb_checkpoints/
experiments/exp-*/